SECRET_KEY=dev-secret-key-change-me-in-production
DEBUG=True

DB_NAME=retail_db
DB_USER=netty
DB_PASSWORD=69netty6911111
DB_HOST=localhost
DB_PORT=5432

EMAIL_HOST=smtp.yandex.ru
EMAIL_PORT=465
EMAIL_HOST_USER=your_email@yandex.ru
EMAIL_HOST_PASSWORD=your_app_password
EMAIL_USE_SSL=True

CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/0
